**/node_modules/
**/__pycache__/
**/.vscode/
.vscode/
/model-service/modelos/model_fit_F.joblib
/model-service/modelos/model_fit_K.joblib
/model-service/modelos/model_fit_N.joblib
/model-service/modelos/Avocado_classification_Inception_v1.h5